body {
    background-color: #d8e8e9;
}

/* NAVBAR */

.navbarClass {
    background-color: #4dd4ac;
}

.iconNavbar {
    background-color: #237e636e;
    padding: 7px 15px 7px 15px;
    border-radius: 30px;
}

.iconNavbar:hover {
    background-color: #237e636e;
    padding: 5px 13px 5px 13px;
    margin: 2px 2px 2px 2px;
    border-radius: 30px;
    transition: .3s;
}

.icon {
    width: 35px;
    margin-left: 10px;
}

.liHo {
    text-align: center;
}

.liHo:hover {
    background-color: #237e636e;
    border-radius: 15px;
    transition: .3s;
}

/* SOBRE MI */

.containerSobreMi {
    background-color: #b4f5e180;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 10px;
    border-radius: 5px;
    height: auto;
    border: solid 1px #237e636e;
}

.h1YoSoy {
    width: 100%;
    height: 83px;
    padding-top: 45px;
    padding-right: 3%;
    text-align: right;
}

.h3YoSoy {
    width: 100%;
    height: 68px;
    padding-right: 3%;
    text-align: right;
    padding-bottom: 35px;
}

h1 {
    animation-duration: 1s;
    animation-name: h1Animation;
}

.contentParrafoSobreMi {
    margin: 15px 20px 20px 60px;
    background-color: #1d856649;
    border-radius: 20px;
    padding: 25px;
}

.parrafoSobreMi {
    text-align: initial;
    padding-left: 5px;
}

.containerFotoPerfil{
    text-align: center;
}

.imgPerfil {
    width: 350px;
    padding: auto;
    border-radius: 50px;
}

/* CONOCIMINETOS */

.conocimientoItems {
    background-color: rgba(124, 167, 196, 0.192);
    padding: 3%;
    margin: 10px;
}

.infoCono {
    display: none;
    width: 94%;
    height: 94%;
}



/* TITULOS */

.containerSection{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    background-color: #b4f5e180;
    border-radius: 5px;
    height: auto;
    border: solid 1px #237e636e;
}

.titulo{
    width: 100%;
    height: 50px;
    padding: 30px 0px 60px 0px;
    margin: 0px;
    border-bottom: solid 2px mediumaquamarine;
}

.titulo h2{
    font-size: 40px;
    padding-left: 3%;
}

/* PROYECTOS */

.cardItems {
    height: auto;
}

.imgProyectos {
    height: 260px;
}

/* ANIMACIONES */

@keyframes h1Animation {
    from {
        margin-left: 150%;
    }
    to {
        margin-left: 0%;
    }
}

h3 {
    animation-duration: 1.3s;
    animation-name: h3Animation;
}

@keyframes h3Animation {
    from {
        display: none;
        margin-left: 150%;
    }
    to {
        margin-left: 0%;
    }
}

/* BREAKS POINTS */

@media (max-width: 992px) {
    .h1YoSoy {
        width: 100%;
        height: 80px;
        padding-top: 25px;
        padding-bottom: 0px;
        padding-right: 3%;
        text-align: right;
    }
    .h3YoSoy {
        width: 100%;
        height: 60px;
        padding-right: 3%;
        text-align: right;
        padding: 0px 3% 0px 0px;
    }

    .contentParrafoSobreMi {
        margin-right: 5px;
        margin-left: 5px;
        
        padding: 20px;
    }
    .containerSobreMi {
        background-color: #b4f5e180;
        margin-top: 10px;
        border-radius: 5px;
    }
    .imgPerfil {
        width: 100%;
        padding: 30px 30px 30px 30px;
    }
}

@media (max-width: 575px) {
    .h1YoSoy {
        width: 100%;
        height: 70px;
        padding-top: 25px;
        padding-bottom: 0px;
        padding-right: 3%;
        margin: 0px;
        text-align: right;
    }
    .h3YoSoy {
        width: 100%;
        height: 50px;
        padding-right: 3%;
        text-align: right;
        margin: 0px;
        padding: 0px 3% 0px 0px;
    }
    .contentParrafoSobreMi {
        margin-right: 10px;
        margin-left: 10px;
        padding: 15px;
    }
    .containerSobreMi {
        background-color: #b4f5e180;
        margin-top: 5px;
        border-radius: 5px;
    }
}
